.wrap {
    display: flex;
    justify-content: center;
    font-family: 'Nexa';
}

.player {
    width: 350px;
    background-color: #D8D8D8;
    border-radius: 10px;
}

.main {
    padding: 40px 40px 30px 40px;
}

.cover {
    display: flex;
    justify-content: center;
}

.img {
    width: 100%;
    border-radius: 15px;
}

.text {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #000;
}


.progress {
    height: 6px;
    border-radius: 25px;
    accent-color: black;
    width: 100%;
    cursor: pointer;
}

.info {
    margin-top: 10px;
    margin-bottom: 10px;
}

.buttonsh {
    display: flex;
    justify-content: space-between;
}

.but {
    cursor: pointer;
}

.artist {
    cursor: pointer;
    color: #5a5a5a;
    font-size: 16px;
    margin-top: 5px;
}

.song_time {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 12px;
    color: #000;
    margin-top: 8px;
    margin-bottom: 8px;
}







.nav {
    display: flex;
}

.btn_nav {
    width: 50%;
    height: 50px;
    background: #000;
}








.player_nav {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 10px 0;
    background: #363636;
}

.playlist_nav {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 0 10px;
}





.playlist {
    width: 350px;
    height: 500px;
    overflow: auto;
    position: absolute;
    background-color: #D8D8D8;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;


}

.song_image {
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 10px;
}

.playlist_song {
    display: flex;
}

.about_song {
    margin: auto 0;
}

.playlist_title_song {
    font-weight: 700;
    font-size: 18px;
    color: #000;
}


.playlist_artist_song {
    margin-top: 5px;
    font-weight: 700;
    font-size: 18px;
    color: #8b8b8b;
}

.playlist_song:last-child {
    margin-bottom: 10px;
}

.playlist_song:first-child {
    margin-top: 10px;
}




/* МУТ ЗВУКА */
.mute {
    width: 100px;
    height: 100px;
    background-color: black;
}

/* ОБ АРТИСТЕ */
.artist_about {
    position: absolute;
    width: 350px;
    height: 500px;
    background: #d8d8d8;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

}

.photo {
    display: inline-block;
    border-radius: 10px;
    width: 350px;
    height: 150px;
    color: white;
}

.artist_name {
    position: absolute;
    margin: 120px 0 5px 15px;
}


.artist_music {
    padding: 0 15px;
}

.section_name {
    font-weight: 700;
    font-size: 18px;
    margin: 10px 0px 10px 0px;
}

.singles {
    display: grid;
    grid-template-columns: repeat(2, 155px);
    grid-template-rows: repeat(2, 45px);
    gap: 10px;
}


.single {
    display: flex;
    width: auto;
    height: auto;
}

.artist_about__song_cover {
    width: 45px;
    height: 45px;
    border-radius: 10px;
}

.artist_about__song_info {
    margin-left: 10px;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.singleTitle {
    margin-top: 6px;
}

.artistName {
    color: #8b8b8b;
    margin-bottom: 6px;
}

.albums {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(1, 100px);
    gap: 10px;
}


.album_title {
    margin-top: 8px;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
}


.back {
    position: absolute;
    margin: 15px 0 0 15px;
    cursor: pointer;
}

.zas {
    position: absolute;
    display: flex;
    border-radius: 10px;
    width: 45px;
    height: 45px;
    background: rgba(0, 0, 0, 0.3);
}


.singlePlay {
    display: block;
    margin: 8px 0 8px 8px;
}



.zas_choice {
    position: absolute;
    border-radius: 10px;
    width: 160px;
    height: 45px;
    background: rgba(0, 0, 0, 0.3);
}

.hi {
    width: 200px;
    height: 200px;
    background-color: grey;
}

.art {
    cursor: pointer;
}

.artists_info {
    position: absolute;
    margin-top: 317px;
    border-radius: 10px 10px 0 0;
    width: 350px;
    /* height: 183px; */
    background: #4e4e4e;
    padding: 10px 10px 0px 10px;
}



.arties {
    margin-top: 10px;
}

.arti {
    display: flex;
    align-items: center;
    border-radius: 100px;
    height: 50px;
    background: rgba(0, 0, 0, 0.5);
    margin-bottom: 15px;
}

.ph_ar {
    border-radius: 100px;
    height: 50px;
    width: 50px;
    background-color: black;
}

.ph_ar1 {
    border-radius: 100px;
    height: 50px;
    width: 50px;
}



.name_ar {
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    margin-left: 10px;
}

.closed {
    display: flex;
    justify-content: end;
}

.closed_photo {
    cursor: pointer;
}


.names {
    color: white;
    display: flex;
    justify-content: center;
    position: absolute;
    margin-left: 136px;
    margin-top: 3px;
}



.rod {
    width: 300px;
}
























